<div class="row">
  <div class="col-md-12">

    <% if can? :create, Question %>
      <div class="panel panel-default clearfix">
        <div class="panel-body">
          <div class="btn-group pull-left">
            <% if !@node.blank? %>
              <%= link_to(t("questions.start_a_new_question_button"), new_question_path(node: select_node.id), class: "btn btn-primary" )%>
            <% else %>
              <%= link_to(t("questions.start_a_new_question_button"), new_question_path, class: "btn btn-primary" )%>
            <% end %>
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>

            <% comment do %>
              <ul class="dropdown-menu">
                <% cache(["sidebar_new_question_box",SiteConfig.new_question_dropdown_node_ids]) do %>
                  <% Node.new_question_dropdowns.each do |node| %>
                    <li>
                      <%= link_to(node.name, new_question_path(node: node.id)) %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>

          </div>

          <!--
            <%= link_to(sanitize("<span class='icon icons-rss'></span> RSS"), feed_questions_url, title: t("questions.subscribe_with_rss", name: Setting.app_name), class: "pull-right feed-button btn btn-default", target: "_blank") %>
          -->
        </div>
      </div>

    <% else %>
      <% if current_user && !current_user.avatar? %>
        <div class="panel panel-default clearfix">
          <div class="panel-body">
            <p><%= t('questions.have_no_avatar')%></p>
            <%= link_to t('common.upload'), edit_user_registration_path, class: 'btn btn-warning btn-block' %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if current_user && current_user.newbie? %>
      <div class="panel panel-default">
        <div class="panel-heading">新手必读</div>
        <div class="panel-body">
          <%= raw SiteConfig.newbie_notices %>
        </div>
      </div>
    <% end %>

    <% if not mobile? %>
      <%= raw SiteConfig.question_list_top_html %>
    <%end%>
    <div class="questions panel panel-default">
      <div class="panel-heading clearfix">
        <%= render "questions/node_info", node: @node %>
      </div>

      <div class="panel-body">
        <% if @questions.current_page == 1 %>
          <% cache(@suggest_questions) do %>
            <%= render partial: "questions/question", collection: @suggest_questions, locals: { suggest: true } %>
          <% end %>
        <% end %>

        <% cache(@questions) do %>
          <%= render partial: "questions/question", collection: @questions, locals: { suggest: false } %>
        <% end %>
      </div>

      <div class="panel-footer clearfix">
        <%= will_paginate @questions %>
      </div>

    </div>

    <% if controller_name == "questions" && action_name == "index" && !mobile? %>
      <%= render "/shared/hot_locations" %>
    <% end %>

    <% if !@node.blank? %>
      <% content_for :node_feed_link do %>
        <%= auto_discovery_link_tag(:rss, feed_node_questions_url, title: "#{@node.name} 节点最新话题") %>
      <% end %>
    <% end %>

    <% comment do %>
      <% if current_user %>
      <script type="text/javascript">
        var readed_question_ids = <%= current_user.filter_readed_questions(@questions + (@suggest_questions || [])) %>;
        for (var i = 0; i < readed_question_ids.length; i++) {
          question_id = readed_question_ids[i];
          $(".question-"+ question_id + " .count a").addClass("state-true");
        }
      </script>
      <% end %>
    <% end %>
  </div>


  <div class="sidebar col-md-12">
    <%= raw SiteConfig.question_index_sidebar_html %>

    <% cache(["sidebar_statistics",Time.now.strftime("%Y-%m-%d %H")]) do %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= t("common.statics")%></div>
        <ul class="list-group">
          <li class="list-group-item">社区会员: <%= User.unscoped.count %> 人</li>
          <li class="list-group-item">问题数: <%= Question.unscoped.count %> 个</li>
          <li class="list-group-item">回答数: <%= Answer.unscoped.count %> 条</li>
        </ul>
      </div>
    <% end %>
  </div>

</div>
