<div class="search-result">
    <div class="box box_gray">
        <div id="search_info">
            <h3 class="h2">找到约 <strong><%= @count %></strong> 条结果</h3>
        </div>

        <div class="topics">
            <% @topics.each_with_hit do |record, hit| %>

            <div class="topic topic_line">
                <div class="pull-left avatar">
                    <%= user_avatar_tag(record.user,:normal) %>
                </div>
                <div class="title">
                    <%= link_to(truncate(hit.highlight.title ? (raw hit.highlight.title[0]) : record.title, length: 100), topic_path(record), title: record.title) %>
                </div>
                <p class="excerpt"><%= sanitize_topic truncate(hit.highlight.body ? (raw hit.highlight.body[0]) : record.body, length:200, escape: false)%>...</p>
            </div>
            <% end %>
        </div>
        <%= will_paginate @topics, inner_window: 2 %>
    </div>
</div>

<% if current_user %>
    <script type="text/javascript">
        var readed_topic_ids = <%= current_user.filter_readed_topics(@topics) %>;
        readed_topic_ids = readed_topic_ids.concat(<%= current_user.filter_readed_topics(@suggest_topics) %>);
        for (var i = 0; i < readed_topic_ids.length; i++) {
            topic_id = readed_topic_ids[i];
            $(".topic_" + topic_id + " .right_info .count").addClass("state_true");
        }
    </script>
<% end %>