<%= cache(["notifications2",notification]) do %>
<div class="media notification" id="<%= notification.anchor %>">
  <%= render partial: "notifications/#{notification.class.name.underscore}", locals: { notification: notification } %>
  <div class="media-right opts">
    <span class="info">
    <%= notification.created_at.strftime('%H:%M') %>
    <%= link_to icon_tag("trash"), notification_path(notification), method: :delete, remote: true %>
      </span>
  </div>
</div>
<% end %>