<%#= raw SiteConfig.index_html %>
<div class="content">
  <ul class="nav">
    <li class="active"><a href="#latest_topics" data-toggle="tab">最新发帖</a></li>
    <li class=""><a href="#excellent_topics" data-toggle="tab">社区精华</a></li>
  </ul>
  <div class="tab-content">
    <div id="latest_topics" class="tab-pane active">
      <div class="topics">
        <%= render partial: "topics/topic", collection: @latest_topics,  locals: { suggest: false } %>
      </div>
      <div class="more">
        <%= link_to "查看更多...", recent_topics_path %>
      </div>
    </div>
    <div id="excellent_topics" class="tab-pane">
      <div class="topics">
        <%= render partial: "topics/topic", collection: @excellent_topics, locals: { suggest: false } %>
      </div>
      <div class="more">
        <%= link_to "查看更多...", excellent_topics_path %>
      </div>
    </div>
  </div>
</div>

<% if !mobile? %>
  <div class="sidebar">
    <%= render_cell :topics, :index_sections %>
    <%= render_cell :topics, :index_locations %>
  </div>
<% end %>

<% if current_user %>
<script type="text/javascript">
  var readed_topic_ids = <%= current_user.filter_readed_topics(@latest_topics) %>;
  readed_topic_ids = readed_topic_ids.concat(<%= current_user.filter_readed_topics(@excellent_topics) %>);
  for (var i = 0; i < readed_topic_ids.length; i++) {
    topic_id = readed_topic_ids[i];
    $(".topic_"+ topic_id + " .right_info .count").addClass("state_true");
  }
</script>
<%end%>
